/* Middle Sidebar */
.contMSB {  // grid
  writing-mode: vertical-rl;
  padding-right: 12px;
}
.msb01 {
  white-space: nowrap;
  text-shadow: 0px 0px 1px black;
  transform: scaleX(1.2);
  letter-spacing: -.06em;

  .msb011 { /* 石原さとみ */
    font-size: 1.1em;
    font-weight: bold;
    color: $msb011-color;
    margin-top: 16px;
    .msb011a { /* 見つめる未来は？ */
      font-weight: normal;
      font-size: .6em;
    }
    .msb013 { /* 「わろてんか」*/
      color: $msb013-color;
      .msb013a { /* 風鳥亭は波乱の年明け⁉︎ */
        font-weight: normal;
        font-size: .6em;
      }
    }
  }
  .msb015 {  /* 「世界一危険な基地」のそばで暮らす... */
    font-size: 1.6em;
    font-weight: bold;
    color: $msb015-color;
    margin-right: -62px;
    margin-top: 198px;
    letter-spacing: -.09em;
    padding-left: 10px;
    text-indent: -.16em;
  }
}

.msb02 {
  writing-mode: horizontal-tb;
  display: inline-block;
  text-shadow: 0px 0px 2px black;
  letter-spacing: -.1em;
  transform: rotate($text-rotation-deg);
  margin-top: 132px;
  margin-right: -89px;

  .msb021 { /* すぐに会えるから… */
    font-size: .64em;
    color: $msb021-color;
    .msb021a { /* BIGBANG */
      font-family: $bold-font;
      font-style: bolder;
      font-size: 1.8em;
      margin-bottom: 6px;
    }
  }
  .msb023 { /* 現地ルポ */
    font-size: 1.1em;
    color: $msb023-color;
    margin-left: 10px;
    border: 1px solid $msb015-color;
  }
}


