/* document dimension */
$doc_W: 796px;    /* 週刊女性 796 x 985 */
$doc_H: 985px;

$grid_col:
  $doc_W * 243/796
  $doc_W * 333/796
  $doc_W * 220/796;
$grid_row:
  $doc_H * 200/985
  $doc_H * 136/985
  $doc_H * 329/985
  $doc_H * 320/985;

/* right sidebar height */
$rsb_W: nth($grid_col, 3);
$rsb_H: nth($grid_row, 3)
      + nth($grid_row, 4);

$rsb_row:
  $rsb_H * 171/649
  $rsb_H *  80/649
  $rsb_H * 104/649
  $rsb_H *  91/649
  $rsb_H * 106/649
  $rsb_H *  58/649
  $rsb_H *  39/649;

/* images & opacities */
$main-img-opacity:     .9;
$LSBBack-opacity:      1;
$RSBBack-opacity:      1;
$big-circle-opacity:   1;

/* fonts */
$body-font: 'Mplus 1p', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$bold-font: 'Noto Sans Japanese', Arial Black, Arial Bold, serif;

/* text colors */
$title-color:             #d10012;
$title-sub-color:         #f6bc1d;
$title-slant-color:       #14168e;
$exclusive-color:         #90572d;
$big-circle-color:        #d90016;
$small-circle-color:      #14168e;
$header-background-color: #f7af2c;
$header-second-color:     #e00d8e;
$LSB-background-color:    #e1689e;
$msb011-color:            #e7a026;
$msb013-color:            #d54679;
$msb015-color:            #dd001b;
$msb021-color:            white;
$msb023-color:            $msb015-color;
$footer01-color:          #21206b;
$footer02-color:          #dc1080;
$footer03-color:          #b37a3f;
$footer04-color:          $footer02-color;

/* Right Sidebar background colors
#814e26
#e73d81
#f48f0e
#e73d81
#c3000f
#150e5b
#d20056
*/
$dimP: 10%;
$rsb_bkcolor:
  lighten(#814e26, $dimP)
  lighten(#e73d81, $dimP)
  lighten(#f48f0e, $dimP)
  lighten(#e73d81, $dimP)
  lighten(#c3000f, $dimP)
  lighten(#150e5b, $dimP)
  lighten(#d20056, $dimP);

/* z-index for layers */
$z-top-layer:          500;
$z-second-layer:       400;
$z-third-layer:        300;
$z-fourth-layer:       200;
$z-ground-layer:         0;
$z-underground-layer: -100;
$z-bottom-layer:      -200;

/* rotation angle */
$text-rotation-deg: -7.43deg;   /* arctan(39/299) = 0.129rad = 7.43deg */
